.env
public/data/ComVotes.db
public/data/trending_votes.db
public/data/coinCache.json
public/data/coin_votes.db
public/data/croPrice.json
public/data/exchangeCache.json
NodalisChain
node.js
public/scripts/swapper/app.js
public/swapper.html
routes/swapRoutes.js